/*Estilos Gerais*/

body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    max-width: 1200px;
}

li, a {
    list-style-type: none;
    text-decoration: none;
}


.border-bottom {
    border-bottom: 2px solid rgb(218, 216, 216);
}

/*Header*/

.container-header {
    background: #3199dc;
    padding-top: 10px;
    max-width: 1300px;
    margin: 0 auto;
}

.header-flex {
    display: flex;
    justify-content: space-around;
}

.img {
    align-items: center;
    padding: 20px;
}

.logo-descricao {
    display: flex;
}

.logo-descricao img {
    align-items: flex-end;
    margin-left: 50px;
}

.logo-descricao h2 {
    font-size: 16px;
    color: #c8eefd;
    margin-top: 50px;
}

.btn {
    align-items: center;
    padding: 25px;
}

.btn button {
    padding: 4px 17px;
    margin-left: 30px;
    border-radius: 7px solid #fff;
    background: #fff;
}

.btn a {
    font-size: 11px;
    text-transform: uppercase;
}

.btn-facebook a {
    color: #335190;
}

.btn-twitter a {
    color: #00aff2;
}

/*Introdução*/

.introducao {
    max-width: 1100px;
    height: 380px;
    background: url('../../img/banner-rotate.png') no-repeat center;
    background-size: cover;
    margin-top: 60px;
    padding-top: 50px;
    margin: 60px auto;
}

.container-intro h1 {
    max-width: 250px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    background: #2c8cc8;
    padding: 5px 15px;
    margin-top: 245px;
    margin-left: 20px;
}

.container-intro h2 {
    color: #fff;
    font-size: 26px;
    margin-left: 20px;
    margin-top: 10px;
}

.bolinhas {
    display: flex;
    justify-content: center;
    margin: 30px auto;

}

.bolinhas ul {
    display: flex;
}

.bolinhas ul li {
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: gray;
    margin-left: 10px;
    
}

/*Galeria de fotos*/

.fotos-grid {
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 30px;
}

.rows {
    top: -80px; /*subiu a imagem 5 e 1*/
    position: relative; 
}

.up {
    top: -35px; /*subiu a imagem 5 e 1*/
    position: relative; 
}

.up-2 {
    top: -114px; /*subiu a imagem 5 e 1*/
    position: relative; 
}

.destaque {
    font-size: 0.875em;
    color: #444444;
    max-width: 16em;
}

.subtitulo {
    font-size: 15px;
    text-transform: uppercase;
    color: #67a4cb;
}

.paragrafo {
    font-size: 15px;
    line-height: 1.6;
    letter-spacing: -0.005em;
    margin-top: 0;
    color: #78838f;
    font-weight: bold;
    padding-bottom: 30px;
}

.fotos-grid img { /*alterei e alinhou as imagens*/
    display: block;
    width: 100%;
}

.destaque {
    margin: auto 5px;
    font-size: 30px;
}

.foto5 {
    grid-column: 1/2;
    grid-row: 1/2;
}

.foto6 {
    grid-column: 2/3;
    grid-row: 1/2;
}

.foto7 {
    grid-column: 3/4;
    grid-row: 1/2;
}

.foto1 {
    grid-column: 1/2;
    grid-row: 2/3;
}

.foto2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.banner {
    grid-column: 3/4;
    grid-row: 2/4;
}

.foto3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.foto4 {
    grid-column: 2/3;
    grid-row: 3/4;
}

/*Section*/


.secao-destaques {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 30px 100px 0 50px;
    
}

.div-destaques h2 {
    color: #1ca6ea;
    font-size: 25px;
}

.div-destaques p {
    border-bottom: 2px solid rgb(218, 216, 216);
    font-size: 16px;
    padding-bottom: 15px;
}


.sub-secao {
    color: #e84b39;
    top: -23px; /*subiu a imagem 5 e 1*/
    position: relative; 
    margin-bottom: 70px;
    font-size: 25px;
}

h3 {
    color: #e84b39;
    text-transform: uppercase;
    margin-left: 20px;
    font-size: 15px;
}

.h3-up, .p-up {
    top: -85px; 
    position: relative;
}

.flexbox {
    display: flex;
}

.block p {
    margin-left: 20px;
    font-size: 15px;
    padding-right: 5px;
}

.rows-up {
    top: -550px; /*subiu a imagem 5 e 1*/
    position: relative; 
}

.img-secao {
    top: -85px;
    position: relative; 
}

.espaco {
    margin-left: 50px;
}

/*Footer*/

.footer {
    background-color: #283c4f;
    padding: 20px 100px;
    max-width: 1200px;
    position: static;
    
}

.azul-claro {
    background-color: #3199dc;
    width: 1180px;
    padding: 10px;
    position: relative;
    left: -100px;
    top: -25px;
}

.azul-claro a {
    color: white;
    text-align: right;
}

.footer p {
    margin-left: 20px;
    color: white;
    font-size: 13px;
    margin: 0 30px;
    padding: 20px;
}

.footer img {
    margin-top: 10px;
}